
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lavishly+Yours&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Imperial+Script&family=Lavishly+Yours&family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

body {
  color: #fff;
  background-color: #000000;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.1), #000000);
}


.rain {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  z-index: -99;
}

/* Start Summary */

.containersummary {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 2vw;
  right: 2vw;
}

.toposummary {
  padding-top: 0.7rem;
}

.containersummary img {
  max-width: 2rem;
  margin-top: 4px;
  margin-left: 12px;
}

.itens {
  display: none;
  text-align: center;
}

.containersummary:hover {
  transition: 0.4s ease;
  background-color: #e4e2e2;
  width: 10rem;
  height: 16rem;
  border-radius: 2rem;
}

.containersummary:hover .itens{
  font-family: "Story Script";
  font-size: 1.3rem;
  display: block;
  color: #720d72;
  margin-bottom: 0.7rem;
}


/* End Summary */

.titulo {
  font-size: clamp(3vw,4vw,5vw);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  justify-content: center; 
}

.titulo1 {
  font-family: "Story Script";
}

.parag {
  letter-spacing: 2vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.thayinfo {
  margin-top: 14vh;
  display: flex;
  justify-content: center;
  font-size: clamp(4em,5vw,10em);
  font-weight: 100;
  font-family: "Ephesis" ;
  margin-bottom: 14vh;
}

.containereu {
  display: flex;
  flex-direction: column;
  
}

.eu {
  color: white;
  text-align: left;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 2rem;
  flex-grow: 1;
  border-left: 2px solid;
  background-image: linear-gradient(90deg,#000,#980b98);
  border-left-color: #dadada;
  border-radius: 1vw;
  box-shadow: 0 0 0.8em #720d72;
  transition: 0.3s ease-in-out;
}


.eu:hover {
  transition: 0.3s ease-in;
  transform: scale(1.02);
  font-size: 1.8rem;
}

.anime:hover {
  width: 90%;
  height: 20vh;
  background-image: url(img/deathnote.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  font-weight: 800;
}


.ragnarbackground:hover {
  width: 90%;
  height: 20vh;
  background-image: url(img/backgroundragnar.JPEG);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: 800;
}

.game:hover {
  width: 90%;
  height: 20vh;
  background-image: url(img/ittakes.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: 800;
  transition: 0.6s ease;
}
